{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://github.com/oErikGonzaga" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/github.png'  %}" alt="ícone github">
        </a>
        <a href="https://www.linkedin.com/in/oerikgonzaga/" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/linkedin.png'  %}" alt="ícone linkdin">
        </a>
    </div>
    <p class="rodape__texto">Developed by Erik Gonzaga</p>
</footer>