<!-- Estende o template base 'galery/base.html' -->
{% extends 'galery/base.html' %}

<!-- Carrega os arquivos estáticos (CSS, imagens, etc.) -->
{% load static %}

<!-- Define o bloco de conteúdo chamado 'content' -->
{% block content %}

        <section class="conteudo">
            <section class="imagem">
                <div class="imagem__conteudo">
                    {% if fotografia.foto == "" or fotografia.foto == null %}
                        <img class="imagem__imagem" src="{% static '/assets/imagens/galeria/not_found.png' %}" alt="foto">
                    {% else %}
                        <img class="imagem__imagem" src="{{ fotografia.foto.url }}">
                    {% endif %}                    <div class="imagem__info">
                        <div class="imagem__texto">
                            <p class="imagem__titulo">{{ fotografia.nome }}</p>
                            <p class="imagem__descricao white-space-pre-line">{{ fotografia.legenda }}</p>
                            <p class="imagem__texto white-space-pre-line">{{ fotografia.descricao }}</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</div>

{% endblock %}
